/* Default fallback */
:root {
	--bg-color: #ffffff;
	--text-color: #111827;
	--border-color: #e5e7eb;
	--input-bg: #ffffff;
	--svg-fill: #101012;
}

/* Overrides when data-theme changes */
:root[data-theme="dark"] {
	--bg-color: #0f172a;
	--text-color: #f8fafc;
	--border-color: #334155;
	--input-bg: #1e293b;
	--svg-fill: #f2f2ef;
}

:root[data-theme="light"] {
	--bg-color: #ffffff;
	--text-color: #111827;
	--border-color: #e5e7eb;
	--input-bg: #ffffff;
	--svg-fill: #101012;
}

/* Cross Document View Transitions will be supported soon as of the Interop CSS for 2026.
So firefox compatibility isn't an issue.*/
@view-transition {
	navigation: auto;
}
